@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: scriptin;
  src: url("/assets/fonts/SCRIPTIN.ttf");
}

* {
  box-sizing: border-box;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --bg: #F0DBA5;
  --text: #151515;
  --yellow: #EDB74D;
  --red: #EB6666;
  --green: #6FB18A;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {

  background-color: var(--bg);
  color: rgb(var(--foreground-rgb));

}

body::before,
body::after {
  position: absolute;
  left: 0;
  top: 0;
  content: '';
  width: 100%;
  height: 100%;
  z-index: -1;

  opacity: 40%;
}

.font-scriptin {
  font-family: scriptin !important;
}

.font-bebas {
  font-family: 'Bebas Neue', cursive;
}

body::before {
  background: #8C8C8C;
  filter: url(#noiseFilter);
}

.countdown-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.countdown-item {
  color: #111;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 30px;
  padding-top: 10px;
  position: relative;
  width: 100px;
  height: 80px;
  font-family: 'Bebas Neue', cursive;
}

.countdown-item span {
  color: #333;
  font-size: 12px;
  text-transform: uppercase;


}

.countdown-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
}

@keyframes fadeInLeftToRight {
  from {
    opacity: 0;
    transform: translate3d(-20%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInRightToLeft {
  from {
    opacity: 0;
    transform: translate3d(20%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.la-picture {
  opacity: 0;
  animation: fadeInLeftToRight 0.5s ease-in both;
}

.tv-picture {
  opacity: 0;
  animation: fadeInRightToLeft 0.5s ease-in both;
}