@font-face {
    font-family: FrenchVPBold;
    src: url('../font/FrenchVP_Bold.ttf') format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: FrenchVPRegular;
    src: url('../font/FrenchVP_Regular.ttf') format("truetype");
    font-weight: 500;
    font-style: normal;
}


body {
    height: 100vh;
}

.font-french-regular {
    font-family: "FrenchVPRegular";
}

.std-image {
    height: 55%;
    width: 70%;
}
.std-hr {
    margin-top: 10px;
    height: 70px;
    width: 0.6%;
    
    background: hsla(0, 0%, 100%, 1);

    background: linear-gradient(360deg, hsla(0, 0%, 100%, 1) 0%, hsla(0, 0%, 100%, 1) 22%, hsla(43, 100%, 96%, 1) 100%);
    
    background: -moz-linear-gradient(360deg, hsla(0, 0%, 100%, 1) 0%, hsla(0, 0%, 100%, 1) 22%, hsla(43, 100%, 96%, 1) 100%);
    
    background: -webkit-linear-gradient(360deg, hsla(0, 0%, 100%, 1) 0%, hsla(0, 0%, 100%, 1) 22%, hsla(43, 100%, 96%, 1) 100%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FFFFFF", endColorstr="#FFFFFF", GradientType=1 );
}